<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <!--
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clients">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Clients
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="machinesvirtuelles">
                <span class="bi bi-hdd-network-nav-menu" aria-hidden="true"></span> Machines Virtuelles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="salles">
                <span class="bi bi-building-nav-menu" aria-hidden="true"></span> Salles de Formation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="utilisateurs">
                <span class="bi bi-person-lines-fill-nav-menu" aria-hidden="true"></span> Utilisateurs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/customers" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span> Gestion des Clients
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/securelogin">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Connexion Sécurisée
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
