@page "/clients"
@inject HttpClient Http

<PageTitle>Clients</PageTitle>

<h3>Liste des clients</h3>

@if (clients == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <BootstrapBlazor.Table TItem="Shared.Dtos.ClientDto" Items="clients">
        <TableColumns>
            <TableColumn Field="Id" Title="ID" />
            <TableColumn Field="NomSociete" Title="Société" />
            <TableColumn Field="Adresse" Title="Adresse" />
            <TableColumn Field="CodePostal" Title="Code Postal" />
            <TableColumn Field="Ville" Title="Ville" />
            <TableColumn Field="Pays" Title="Pays" />
            <TableColumn Field="EmailAdministrateur" Title="Email Admin" />
            <TableColumn Field="Mobile" Title="Mobile" />
        </TableColumns>
    </BootstrapBlazor.Table>
}

@code {
    private List<Shared.Dtos.ClientDto> clients;

    protected override async Task OnInitializedAsync()
    {
        clients = await Http.GetFromJsonAsync<List<Shared.Dtos.ClientDto>>("api/clients");
    }
}