<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BackOfficeUrl" value="http://localhost:5020/"/>
		<add key="BackOfficeUrl_iis" value="https://localhost:8092/"/>
		<add key="Email" value="christophe.pichaud@aurera.fr"/>
		<add key="Password" value="Lisamaggie_07"/>
	</appSettings>	
</configuration>
